############################
# OS X
############################

.DS_Store
.AppleDouble
.LSOverride
Icon
.Spotlight-V100
.Trashes
._*


############################
# Linux
############################

*~


############################
# Windows
############################

build/Release
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp


############################
# Packages
############################

*.7z
*.csv
*.dat
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.com
*.class
*.dll
*.exe
*.o
*.seed
*.so
*.swo
*.swp
*.swn
*.swm
*.out
*.pid


############################
# Logs and databases
############################

.tmp
*.log
*.sql
*.sqlite
*.sqlite3


############################
# Misc.
############################

*#
ssl
.idea
nbproject
public/uploads/*
!public/uploads/.gitkeep
typings/

############################
# Node.js
############################

lib-cov
lcov.info
pids
logs
results
node_modules
jspm_packages
.node_history
.lock-wscript
.npm
npm-debug.log*
.node_repl_history
*.tgz


############################
# Tests
############################

testApp
coverage
.nyc_output
bower_components
.grunt
.eslintcache

############################
# Strapi
############################

.env
license.txt
exports
*.cache
build
.strapi-updater.json

############################
# Gatsby
############################

.env.development
.env.production
yarn-debug.log*
yarn-error.log*
.yarn-integrity
.pnp/
.pnp.js
/frontend/.cache/
/frontend/public