.button-container {
    display: inline-block;

    &.with-focus {

        .background {
            border: 1px solid #5857a2;

        }
    }

    &.flex-center {
        display: flex;
        justify-content: center;
    }

    &.full-width {
        width: 100%;
    }

    .button {
        background-color: transparent;
    }
}

.button {
    position: relative;
    display: inline-block;
    background-color: transparent;
    width: 100%;
    transform: translateZ(900px);

    @media(min-width:768px) {
        width: auto;
    }

    &.disabled {
        opacity: .5;
        pointer-events: none;
    }

    &.full-width {
        display: block;
    }
}

.hover-circle {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    border-radius: 50%;
    opacity: 0;
    background-color: rgba(0, 0, 0, .1);
}

.button-link {
    color: inherit;
    position: relative;
    background-color: transparent;
    cursor: pointer;
    display: inline-block;
    padding: 18px 40px;
    border: none;
    text-decoration: none;
    text-align: center;
    outline: none;
    width: 100%;
    box-sizing: border-box;
    transform: translateZ(1000px);
    font-family: var(--ff-secondary);
    font-weight: 700;
    letter-spacing: 0.55px;

    &.disabled {
        opacity: .5;
        pointer-events: none;
    }
}

.background,
.shadow {
    border-radius: 8px;
}

.background {
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border: 1px solid transparent;
    transition: border .2s ease;
    box-sizing: border-box;
}

.background,
.shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: 0 1px 4px rgba(26, 26, 67, .1);
}

.shadow {
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
}

.small-padding .button-link {
    padding: 14px 25px;
}

.purple {
    background-color: #8c4bff;
    color: #fff;
}

.link {
    background-color: transparent;
    border: none;
    color: #4945ff;
}

.link .button-link {
    text-align: left;
    padding: 0;
    font-family: Poppins;
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #4945ff;
}

.link .button-link:after {
    padding-left: 8px;
}

.link .shadow {
    display: none;
}

.link .background {
    box-shadow: none;
}

.green-gray {
    background: var(--clr-primary-6);
    color: var(--clr-grey-1);
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.80);
}

.green-gray-white {
    background: var(--clr-primary-6);
    // color: var(--clr-grey-1);
    // text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.60);
    color: #fff;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.60);
    font-weight: 700;
}

.yellow {
    background-color: #fee895;
    color: #1e1d80;
}

.orange {
    background-color: #f6b73e;
    color: #fff;
}

.white {
    background-color: #fff;
    color: #171693;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.60);
}

.white-green {
    background-color: #fff;
    color: #0f8d55;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.60);
}

.gray {
    background-color: #fff;
    color: #5e709d;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.60);
}

.green {
    background-color: #13bb70;
    color: #fff;
}

.blue {
    background-color: #00b6c8;
    color: #fff;
}

.lavender {
    background-color: #8c4bff;
    color: #fff;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.80);
}

.dark-blue {
    background-color: #302e9a;
    color: #fff;
}

.gradient-purple {
    background-color: #773ae7;
    color: #fff;
}

.gradient-orange {
    background-color: #cc5d34;
    color: #fff;
}

.gradient-blue {
    background-color: #01489e;
    color: #fff;
}

.gradient-green {
    background-color: #0f8d55;
    color: #fff;
}

.marketplace-white {
    background-color: #fff;
    color: #171693;
}

.buttons-wrapper {
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.buttons-wrapper .button:last-child {
    margin-top: 13px;
}

.buttons-wrapper .button {
    display: block;
    width: 100%;
}