/*
=============== 
Services
===============
*/
.service {
    background: var(--clr-white);
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    border-radius: var(--radius);
    text-align: center;
    -webkit-transition: var(--transition);
    transition: var(--transition);
}

.service-icon {
    font-size: 5rem;
    margin-bottom: 1.5rem;
    height: auto;
}

.service .underline {
    width: 3rem;
    height: 0.12rem;
    -webkit-transition: var(--transition);
    transition: var(--transition);
}

.service p {
    -webkit-transition: var(--transition);
    transition: var(--transition);
    color: #000;
}

.service:hover {
    background: var(--clr-primary-5);
    color: var(--clr-primary-9);
}

.service:hover p {
    color: var(--clr-primary-9);
}

.service:hover .underline {
    background: var(--clr-primary-9);
}

.about-skills {
    margin-top: 3rem;
}

.canvas-container {
    height: 60vh;
    margin-bottom: 2rem;
}

@media screen and (max-width: 767px) {
    .canvas-container {
        height: 50vh;
    }
}

@media screen and (min-width: 676px) {
    .services-center {
        display: grid;
        grid-template-columns: 1fr 1fr;
        -webkit-column-gap: 2rem;
        -moz-column-gap: 2rem;
        column-gap: 2rem;
    }
}

@media screen and (min-width: 992px) {
    .services-center {
        grid-template-columns: 1fr 1fr 1fr;
    }
}