/*
=============== 
Services
===============
*/
.service {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    border-radius: var(--radius);
    text-align: center;
    transition: var(--transition);
    background: rgb( 255 255 255 / 35% );
    box-shadow: 0 2px 5px 0 rgb(31 38 135 / 18%);
    backdrop-filter: blur( 4px );
    border-bottom: 1px solid rgb( 255 255 255 / 18% );
}

.service-icon {
    font-size: 5rem;
    margin-bottom: 1.5rem;
    height: auto;
}

.service .underline {
    width: 3rem;
    height: 0.12rem;
    transition: var(--transition);
    transition: var(--transition);
}

.service p {
    transition: var(--transition);
    transition: var(--transition);
    color: #000;
}

.service:hover {
    background: var(--clr-primary-5-5);
    color: var(--clr-primary-9);
}

.service:hover p {
    color: var(--clr-primary-9);
}

.service:hover .underline {
    background: var(--clr-primary-9);
}

.about-skills {
    margin-top: 3rem;
}

.canvas-container {
    height: 60vh;
    margin-bottom: 2rem;
}

@media screen and (width <= 767px) {
    .canvas-container {
        height: 50vh;
    }
}

@media screen and (width >= 676px) {
    .services-center {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
        column-gap: 2rem;
        column-gap: 2rem;
    }
}

@media screen and (width >= 992px) {
    .services-center {
        grid-template-columns: 1fr 1fr 1fr;
    }
}